.t {
    cursor: default;
    font-size: xx-large;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(255,255,255);
    text-shadow: 3px 3px 8px;
}
.projects {
    background-color: rgb(0,255,0);
    border: none;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 7px 8px rgb(0,255,0);
    transform: translate(-7px, 7px);
}
.projects:hover {
    background-color: rgb(0,170,0);
}

.projects:active {
    box-shadow: 2px 2px 8px rgb(0,170,0):
    transform: translate(5px, 5px);
}
